* {
    font-weight: 10px;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(191, 184, 166, 0.731);
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}
.our-story {
    position: absolute;
    width: 1440px;
    height: 2823px;
    background-image: url(./backphoto1.jpg);
    
  }
  
  .our-story .overlap-group {
    position: absolute;
    width: 1440px;
    height: 817px; 
    top: 0;
    left: 0;
  }
  
  nav{
    background-color:#600000;
    padding: 15px;
    display: flex;
    justify-content:center ;
    gap: 70px;
 
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
}

nav a:hover{
    color: black;
}

    
.our-story .download {
    position: absolute;
    width: 1440px;
    height: 700px;
    top: 47px;
    left: 0;
    object-fit: cover;
    opacity: 95%;
  }
  
  .our-story .where-our-STORY {
    position: absolute;
    width: 738px;
    top: 300px;
    left: 354px;
    font-weight: 700;
    color: rgb(125, 61, 61);
    font-size: 100px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    
  }

  
  .our-story .span {
    font-weight: 700;
    color: rgb(125, 61, 61);
    font-size: 100px;
    letter-spacing: 0;
    font-family: 'Inter', sans-serif;
  }
  
  .our-story .text-wrapper-2 {
    font-size: 100px;
  }
 
  .our-story .text-wrapper-1 {
    position: relative;
    align-self: stretch;
    height: 55px;
    margin-top: -1.00px;
    font-weight: 700;
    color: #36541a;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
    top: -10px;
    text-shadow: 
        0 0 5px #d9e5d6,
        0 0 10px #c2e5c1,
        0 0 15px #563636,
        0 0 20px #793b3b;
    
}


  .our-story .frame-2 {
    display: flex;
    flex-direction: column;
    width: 1117px;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 1100px;
    left: 0;
    bottom: 300px;
  }
  
  .our-story .div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    bottom: 120px;
  }
  
  .our-story .p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 400;
    color: #faf7f7;
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
    top: 20px;

    text-align: justify;
    text-justify: inter-word; 
    line-height: 1.6; 
    hyphens: auto; 
    
}

  
.our-story .p1 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #faf7f7;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
  top: 0px;
  
  text-align: justify;
    text-justify: inter-word; 
    line-height: 1.6; 
    hyphens: auto; 
}
  
.our-story .p2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #faf7f7;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
  top: -5px;
  
  text-align: justify;
    text-justify: inter-word; 
    line-height: 1.6; 
    hyphens: auto; 
}
  .our-story .frame-3 {
    display: flex;
    flex-direction: column;
    width: 1117px;
    align-items: flex-start;
    gap: 28px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .our-story .frame-4 {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    bottom: 128px;
   
  }
  
  
  .our-story .image {
    position: relative;
    width: 526px;
    height: 296px;
    object-fit: contain;
  }
  
  .our-story .frame-5 {
    display: flex;
    flex-direction: column;
    width: 1117px;
    align-items: flex-start;
    position: absolute;
    top: 550px;
    left: 0;
    bottom: 120px;
    
}
  
  
  .our-story .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    height: 55px;
    margin-top: -1.00px;
    font-weight: 500;
    color: #5d843a;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    top: -10px;
    bottom: 250px;
    font: 'Inter', sans-serif;
    
}
  
   
.our-story .p3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #faf7f7;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
  top: 0px;

  text-align: justify;
    text-justify: inter-word; 
    line-height: 1.6; 
    hyphens: auto; 
  
}
  .our-story .frame-6 {
    display: flex;
    align-items: center;
    gap: 39px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    text-align: left;
    top: 0px;
   
}
  
  
  .our-story .frame-7 {
    display: flex;
    flex-direction: column;
    width: 552px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    text-align: right;

}.our-story .p4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #faf7f7;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
  top: 100px;
  
  text-align: justify;
    text-justify: inter-word; 
    line-height: 1.6; 
    hyphens: auto; 
}
  
.our-story .img4 {
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  top: 120px;
  flex-direction: column;
  width: 0%;
  align-items: flex-start;
  position: absolute;
  left: 600px;
  bottom: 400px;
  top: 75px;

}
  
  .our-story .frame-8 {
    display: flex;
    flex-direction: column;
    width: 1117px;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 1305px;
    left: 100;

}
  
  
  .our-story .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    height: 55px;
    margin-top: -1.00px;
    font-weight: 500;
    color: #5d843a;
    font-size: 60px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    top: 130px;
    font: 'Inter', sans-serif;
}
  
  .our-story .footer {
    display: flex;
    width: 1440px;
    height: 66px;
    align-items: center;
    justify-content: center;
    gap: 72px;
    position: absolute;
    top: 2757px;
    left: 0;
    background-color: #326b00;
  }
  
  .our-story .div {
    position: relative;
    width: fit-content;
    font-family: var(--text-2xl-medium-font-family);
    font-weight: var(--text-2xl-medium-font-weight);
    color: #ffffff;
    font-size: var(--text-2xl-medium-font-size);
    letter-spacing: var(--text-2xl-medium-letter-spacing);
    line-height: var(--text-2xl-medium-line-height);
    font-style: var(--text-2xl-medium-font-style);
  }
  
  .our-story .group {
    position: absolute;
    width: 1117px;
    height: 1714px;
    top: 903px;
    left: 159px;
  }

    @media (max-width: 768px) {
            .activities-grid {
                grid-template-columns: 1fr;
            }
            
            .header h1 {
                font-size: 2.5em;
            }
            
            .feature-buttons {
                flex-direction: column;
                align-items: center;
            }
        }

       
  
